@import "../../styles/colors.scss";

@mixin button {
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 100%;
  border-radius: 100px;
}

.logIn {
  @include button();
  background-color: $red;
  color: $white;
  height: 30px;
  padding: 8px 16px;
  font-size: 16px;
  transition: background-color 0.6s ease-in;
  &:hover {
    background-color: $white;
    color: $red;
  }
}

.signIn {
  @include button();
  background: $white;
  height: 46px;
  padding: 16px 40px;
  font-size: 20px;
  transition: 0.5s;
  &:hover {
    box-shadow: 0 0 10px 0 $black;
  }
}

.registration {
  @include button();
  background: $red;
  color: $white;
  height: 46px;
  padding: 16px 40px;
  font-size: 20px;
  animation: colorChange 5s infinite;
  transition: 0.5s;
  &:hover {
    box-shadow: 0 0 10px 0 $red;
  }
  @keyframes colorChange {
    0% {
      background-color: $red;
      color: $white;
    }
    65% {
      background-color: $white;
      color: $red;
    }
    100% {
      background-color: $red;
      color: $white;
    }
  }
}
