@import "../../styles/colors.scss";
@import "../button/button.module.scss";

.mainScreen {
  background-image: url("../../styles/imgs/Rectangle\ 1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 75vh;
  margin: auto;
  border-radius: 20px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  margin-bottom: 358px;
  @media screen and (max-width: 1200px) {
    padding: 30px;
  }
  @media screen and (max-width: 360px) {
    justify-content: end;
    padding: 20px;
    height: 65vh;
  }
}

.description {
  width: 60%;
  .title {
    font-size: 53px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -2px;
    span {
      letter-spacing: 2px;
    }
  }
  p {
    width: 460px;
  }

  @media screen and (max-width: 360px) {
    .title {
      font-size: 32px;
    }
    p {
      font-size: 14px;
      width: 296px;
    }
  }
}

.buttonsWrap {
  display: flex;
  justify-content: space-between;
  width: 490px;
  margin-top: 33px;
  @media screen and (max-width: 360px) {
    width: 296px;
    flex-direction: column-reverse;
  }
}

.cardsWrap {
  display: flex;
  justify-content: space-between;
  width: 903px;
  @media screen and (max-width: 1040px) {
    width: 700px;
  }
  @media screen and (max-width: 360px) {
    flex-direction: column;
    position: absolute;
    bottom: -56%;
    left: 0;
  }
}
