@import "../../styles/colors.scss";


.overflow{
  overflow: hidden;
}
.wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: auto;
  width: 100%;
  height: auto;
  padding: 20px 0;
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin-left: -10px; /* Убираем отрицательные отступы слева */
  margin-top: 50px;
}

.wrap::-webkit-scrollbar {
  display: none;
}
